<% if(hour > 6 && hour < 18){ %> 
    <link rel="stylesheet" href="/css/day.css">
<% }else { %>
    <link rel="stylesheet" href="/css/night.css"> 
<% } %> 

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- action="/output" method='POST' -->
<form >
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="age">Age</label>
    <input type="number" name="age" id="age">
    <input type="submit" value="submit">
</form>
<p></p>

<script src="script.js"></script>
