<!DOCTYPE html>                                                  view/index.ejs
<html lang='en'>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href=<%= hour>13?'/css/day.css':'/css/night.css'%> >
    <title>Current time</title>
  </head>
  <body>
    This page was loaded at <%= time %>
    
  </body>
</html>
