<h4>Add a cookie key/value </h4>
<form action="" method="post">
    <input type="text" name="" placeholder="key">
    <input type="text" name="" id="" placeholder="value">
    <button>Send post</button>
</form>