<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<form action="/8ball" id="8ball" method="get">
    <input type="text" id="text" placeholder="Input your text here">
    <button>ask 8ball</button>
</form>
<p> </p>

<script src="/js/8ball.js"></script>